<div class="detail container-fluid">
    <div class="coreModule-spinner" *ngIf="this.loading"><mat-progress-spinner class="override-spinner" mode="indeterminate"></mat-progress-spinner></div>
    
    <div class="row up" *ngIf="!this.loading">
        <div class="col-xs-6">
            <div *ngIf="!loading info">
                <p>{{movie?.title}}</p>
                <p *ngIf="movie?.adult">18+</p>
                <p><span *ngFor="let genre of genre_list">{{genre.name}}</span></p>
                <p>{{movie?.overview}}</p>
                <p>{{movie?.release_date}}</p>
                <p>{{movie?.budget + ' $'}}</p>
                <p>{{movie?.revenue + ' $'}}</p>
                <p>{{movie?.runtime + ' mins'}}</p>
                <p>{{movie?.original_language}}</p>
                <p>{{movie?.vote_average}}</p>
            </div>
        </div>
        <div class="col-xs-5">
            <div class="posterAdd"(click)="addToWatchList()" *ngIf="!loading">
                <h4>{{isAdded ? 'In Watchlist': 'Add to watch list'}}</h4>
                <img *ngIf="!loading" class="poster" [src]="'https://image.tmdb.org/t/p/original/'+movie?.poster_path">
            </div>
        </div>
        <div class="col-xs-1">
            <div class="button">
                <button class="btn btn-primary" (click)="goToCatalog()">Catalog</button>
            </div>
        </div>
    </div>

    <div class="row lowerRow">
        <div class="col-xs-6 backdropRow">
            <img *ngIf="!loading" class="backdrop" [src]="'https://image.tmdb.org/t/p/original/'+movie?.backdrop_path">
            <h3 *ngIf="!loading">{{'" '+ movie?.tagline+ ' "'}}</h3>
        </div>
    </div>
<div>