.detail {
    background-color: black;
    height: 100%;
}
.posterHover {
    width: 200px;
    height: 250px;
    position: absolute;
    z-index: 1;
    top: 28%;
    left: 33%;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}
.posterHover:hover {
    transform: translateY(-15px);
}
.posterAdd {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.9;
}
.posterAdd h4{
    color: whitesmoke;
    text-align: center;
    margin-top: 50%;
}
img.poster {
    width: 200px;
    height: 250px;
}
img.backdrop {
    margin-top: 19%;
    width: 60%;
    height: 60%;
    position: relative;
    top: 0;
    left: 40%;
}
h3 {
    position: absolute;
    z-index: 1;
    top: 85%;
    left: 50%;
    color: white;
    font-style: italic;
    font-family: cursive;
}
p {
    text-align: center;
    margin: 15px;
    color: wheat;
}
span {
    margin-right: 10px;
}
.info {
    width: 35%;
    position: absolute;
    left: 0;
    top: 2%;
}
.button {
    position: absolute;
    top: 5%;
    left: 90%;
}
