<div class="background-container">
    <div class="background"></div>
    
    <div class="container-fluid" dir="ltr">
    
        <div class="row button-row">
            <div class="col-xs-8">
                <button class="btn btn-primary" (click)="changeLang()">
                    {{"LANG" | translate}}
                </button>
            </div>
            <div class="col-xs-4">
                <button (click)="switch()" class="btn btn-success col-xs-1" style="float: right;">
                    {{"BUTTONSIGNUP" | translate}}
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 container-fluid form-container">
                <form class="form-class" (ngSubmit)="submit(form)" #form="ngForm">
                    
                    <div class="form-group row test">
                        <div class="col-xs-12 label-class">
                            <label for="username" [ngClass]="{'label-en': isEnglish, 'label-ar': !isEnglish}">{{"USERNAME" | translate}}</label>
                        </div>
                    </div>
                    <div class="form-group row" #formRow>
                        <div class="col-xs-12 input-class">
                            <input class="form-control input" id="username" ngModel name="username" required username #username="ngModel">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-12 label-class">
                            <label for="email" [ngClass]="{'label-en': isEnglish, 'label-ar': !isEnglish}">{{"EMAIL" | translate}}</label>
                        </div>
                    </div>
                    <div class="form-group row" #formRow>
                        <div class="col-xs-12 input-class" >
                            <input class="form-control input" id="email" ngModel name="email" required email #email="ngModel">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="help-block" *ngIf="!email.valid && email.touched"> {{"EMAILFAIL" | translate}}</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-12 label-class" >
                            <label [ngClass]="{'label-en': isEnglish, 'label-ar': !isEnglish}">{{"PASSWORD" | translate}}</label>
                        </div>
                    </div>
                    <div class="form-group row" #formRow>
                        <div class="col-xs-12 input-class">
                            <input class="form-control input" type="password" id="password" ngModel name="password" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-12 button-login">
                            <button type="submit" class="btn btn-primary" [disabled]="!form.valid">
                                {{"BUTTONLOGIN" | translate}}
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="help-block" *ngIf="failureMessage">{{failureMessage}}</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>