input.ng-invalid.ng-touched {
    border: 1px solid red;
}
.background-container {
  overflow: hidden;
}
.background {
  background: url("https://asiapeacefilmfestival.com/userfiles/2017/09/Film-gallery-s.jpg") repeat-x;
  height: 100%;
  width: 5076px;
  position: fixed;
  z-index: -1;
  animation: slide 60s linear infinite;
  filter: blur(3px) brightness(0.5);
}

@keyframes slide{
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1692px, 0, 0);
  }
}
.button-row {
  margin: 1%;
}

.label-class-en {
  left: 20%;
}
.input-class-en {
  left: 20%;
}

.label-class-ar {
  left: -22%;
}
.input-class-ar {
  left: -22%;
}

.input {
  width: 100%;
}
.button-login {
  margin-left: 45%;
}
.label-en {
  float: right;
  color: white;
}
.label-ar {
  float: left;
  color: white;
}

.help-block {
  margin-left: 44%;
}

.form-container {
  padding-top: 10%;
}

p {
  color: white;
}

.form-group {
  display: flex;
  flex-direction: row;
}


@media (max-width: 780px) {
  .button-login {
    margin-left: 42%;
  }
}
