.catalog {
    background-color: black;
}
.movies {
    margin-left: 6%;
    display: flex;
    flex-wrap: wrap;
}
.btn {
    margin-top: 0.5%;
    left: 50%;
    margin-left: 85%;
}
.background {
    background-color: black;
    width: 100%;
    height: 100%;
}


h3 {
    position: absolute;
    top: -10px;
    left: 40%;
    color: whitesmoke;
}