
input.ng-invalid.ng-touched {
    border: 1px solid red;
}
.background-container {
    overflow: hidden;
  }
  
.background {
    background: url("https://asiapeacefilmfestival.com/userfiles/2017/09/Film-gallery-s.jpg") repeat-x;
    height: 840px;
    width: 5076px;
    animation: slide 60s linear infinite;
  }
  
@keyframes slide{
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-1692px, 0, 0);
    }
  }
  
.container {
    width: 50%;
    margin: 0px auto;
    padding-top: 7%;
    left: 25%;
    top: 25%;
    padding-bottom: 7%;
    position: absolute;
    z-index: 1;
    background-color: white;
    opacity: 0.95;
    border-radius: 5%;
}

.row {
    width: 50%;
    margin: 10px auto;
    box-sizing: border-box;
}
.row.button-class {
    width: 20%;
    margin: 10px auto;
    box-sizing: border-box;
}
.row.button-class div{
    width: 20%;
    padding: 0;
    margin: 0 auto;
}
.row div.label-class {
    width: 20%;
    margin: 0 auto;
    padding: 0;
    position: relative;
    top: 5px;
}

.row div.input-class {
    width: 80%;
    margin: 0 auto;
}

.row span {
    margin-left: 140px;
}