input.ng-invalid.ng-touched {
    border: 1px solid red;
}

.background {
  background: url("https://asiapeacefilmfestival.com/userfiles/2017/09/Film-gallery-s.jpg") repeat-x;
  height: 840px;
  width: 5076px;
  animation: slide 60s linear infinite;
  filter: blur(3px);
}

@keyframes slide{
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1692px, 0, 0);
  }
}

.background-container {
    overflow: hidden;
}

.localization {
  position: absolute;
  z-index: 1;
  top: 5%;
  left: 92%;
  width: 80px;
}
.button-switch {
  position: absolute;
  z-index: 1;
  top: 5%;
  left: 5%;
  width: 80px;
}
.container {
    width: 50%;
    height: 50%;
    margin: 0px auto;
    padding-top: 7%;
    left: 25%;
    top: 25%;
    padding-bottom: 7%;
    position: absolute;
    z-index: 1;
    background-color: white;
    opacity: 0.95;
    border-radius: 5%;
}

.row.form-group {
    width: 50%;
    margin: 10px auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}

.button-class {
  position: relative;  
  left: 47%;
}
.row.button-class div{
    width: 20%;
    padding: 0;
    margin: 0 auto;
}
.row div.label-class {
    width: 20%;
    margin: 0 auto;
    padding: 0;
    position: relative;
    top: 5px;
}

.row div.input-class {
    width: 80%;
    margin: 0 auto;
}

.help-block {
  padding-left: 8%;
  width: 100%;
  text-align: center;
}
.help-block-failure {
  padding-left: 5%;
  width: 100%;
  text-align: center;
}