<div class="form-class" dir="ltr">
    <button class="btn btn-primary localization" (click)="changeLang()">{{!this.isLangEnglish ? 'English': 'عربي'}}</button>
    <button (click)="switch()" class="btn btn-success button-switch">{{getUpperButtonText()}}</button>
    <form (ngSubmit)="submit(form)" #form="ngForm">
        <div class="container">
            <div class="container-background"></div>
            <div class="form-group row" #rootDiv>
                <div class="col-md-1 col-sm-2 col-xs-2 label-class"><label for="email">{{this.isLangEnglish ? 'Email': 'بريد إلكتروني'}}</label></div>
                <div class="col-md-3 col-sm-4 col-xs-4 input-class">
                    <input class="form-control" id="email" ngModel name="email" required email #email="ngModel">
                </div>
            </div>
            <p class="help-block" *ngIf="!email.valid && email.touched"> {{this.isLangEnglish ? 'Enter a correct email': 'أدخل البريد الإلكتروني صحيح'}}</p>
            <div class="form-group row" #rootDiv>
                <div class="col-md-1 col-sm-2 col-xs-2 label-class"><label for="password">{{this.isLangEnglish ? 'Password': 'كلمة المرور'}}</label></div>
                <div class="col-md-3 col-sm-4 col-xs-4 input-class"><input class="form-control" type="password" id="password" ngModel name="password" required></div>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-primary button-class" [disabled]="!form.valid">{{getBottomButtonText()}}</button>
            </div>
            <p class="help-block-failure" *ngIf="failureMessage">{{failureMessage}}</p>
        </div>
    </form>
</div>
<div class="background-container">
    <div class="background"></div>
  </div>