/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spinner {
    width: 50%;
    margin: 0px auto;
    padding-top: 20%;
    padding-bottom: 20%;
}
.spinner mat-progress-spinner {
    width: 50%;
    margin: 0px auto;
}
mat-progress-spinner circle{
    stroke: white;
}
.btn {
    width: 80px;
}
h3 {
    color: whitesmoke;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}
.background-container {
  overflow: hidden;
}
.background {
  background: url("https://asiapeacefilmfestival.com/userfiles/2017/09/Film-gallery-s.jpg") repeat-x;
  height: 100%;
  width: 5076px;
  position: fixed;
  z-index: -1;
  animation: slide 60s linear infinite;
  filter: blur(3px) brightness(0.5);
}

@keyframes slide{
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1692px, 0, 0);
  }
}
.button-row {
  margin: 1%;
}
.label-class {
  width: 50%;
  margin: 0 auto;
}
label {
  width: 100%;
  margin: 0 auto;
}

.input-class {
  min-width: fit-content;
  width: 20%;
  margin: 0 auto;
}

.button-login {
  width: fit-content;
  margin: 0 auto;
}
.label-en {
  text-align: center;
  color: white;
  font-size: 18px;
  font-weight: 500;
}
.label-ar {
  text-align: center;
  color: white;
  font-size: 18px;
}

.help-block {
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.form-container {
  margin-top: 10%;
}

p {
  color: white;
  text-align: center;
}

.form-group {
  display: flex;
  flex-direction: row;
}
